html {
    box-sizing: border-box;
    margin:0;
}

*::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin:0;
}

.logo, .inicial {
    color: #E64D00;
}

.mensaje {
    color: #FF8B51;
    text-decoration: underline;
}

.logo-perfil {
    background-color: #e64d003b;
}

.btn-eliminar {
    background-color: rgb(231, 36, 36);
}

.btn-buscar,.btn-gestionar, .btn-registrar {
    background-color: #E64D00;
}

.btn-buscar:hover, .btn-gestionar:hover, .btn-registrar:hover{
    color:#E64D00 !important;
    border-color: #E64D00 !important;
}
